<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    
    <%= site_bar -%>

    <%= render '/refinery/header' -%>

    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div class="container page">
      <%= yield %>
      <%= render '/refinery/footer' -%>
    </div>

    <%= render '/refinery/javascripts' %>
  </body>
</html>

